#logo {
    color: #003363;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5rem; /* 100% */
}

nav a {
    color: #003363 !important;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 150% */
}

#title {
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px; /* 123.529% */

    display: flex;
    align-items: center;
}

#base {
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 150% */

    align-items: center;
    background-color: #12C6FF;
    padding: 8px 24px;
    border-radius: 2px;
}

#landing {
    background: linear-gradient(rgba(0,34,65,0.61), rgba(0,34,65,0.61)),url("./images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    background-color: #003363;
}

#text-title {
    color: #12C6FF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}

#about p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}